{{!-- login form --}}
<form class="login-form">
  <h2>Login</h2>
  <div>
    <label for="usernameLogin">Username:</label>
    <input type="text" id="usernameLogin">
  </div>
  <div>
    <label for="passwordLogin">Password:</label>
    <input type="password" id="passwordLogin">
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

{{!-- sign up form --}}
<form class="signup-form">
  <h2>Sign Up</h2>
  <div>
    <label for="usernameSignup">Username:</label>
    <input type="text" id="usernameSignup">
  </div>
  <div>
    <label for="passwordSignup">Password:</label>
    <input type="password" id="passwordSignup">
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>


<script src="/js/login.js"></script>