<section>
  <h2>
    Create A New Post
  </h2>
  <form class="newFormPost">
    <div>
      <label for="post-title">Title: </label>
      <input type="text" name="post-title" id="post-title"/>
    </div>
    <div>
      <label for="post-text">Post:</label>
      <textarea name="post-text" id="post-text"></textarea>
    </div>
    <button type="submit" class="btn">Post</button>
  </form>
</section>

<script src="/js/addPost.js"></script>